element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none !important;
}

.checked21 {
  color: orange;
}
.rating{
padding-left: 0rem;
}